h1{
    color:rgb(233, 141, 141);
    border: 10px #b98e8e solid;
    border-radius: 5px 15px 5px 15px;
    padding: 20px 50px 20px 50px;
    font-weight:lighter;
    font-style: oblique;
    background-color:blanchedalmond;
}
h2{
    color:pink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border: solid cornflowerblue 3px;
    background-color: beige;
    
}